{% extends 'base.html.twig' %}

{% block title %}Hello SessionController!{% endblock %}

{% block body %}
    <h1>List of Sessions</h1>
    {% for session in sessions %}
        {% set placesAvailable = session.totalPlaces - session.stagiaires|length %}

        {{ session }}: session available from {{session.dateStart|date('d-m-Y')}} to {{session.dateEnd|date('d-m-Y')}},
        {{placesAvailable == 1 ?  placesAvailable ~ ' place available' : placesAvailable == 0 ? 'no places availables' : placesAvailable ~ ' places availables'}}. <br>
    {% endfor %}
{% endblock %}
